/*
==============================================================================================================
*/

@black:			#111;
@dark:			#555;
@wit:			#fff;
@txt:			#111;
@blauw3:		#111;
@gc_a11y_green:	#111;

@bettercontrasttext: @black; // text that had color: #767676
@bettercontrasttext2: @dark; // text that had color: #999

@menu_a_color: rgba(240,240,240,.9);
@menu_a_color_hover: @wit;

@menu_mobile_a_bg: #ca2017;
@menu_mobile_a_bg_hover: #ca2017;

@light_gray: @black;
